# Ignore all folders starting with "exp"
exp*/

# Ignore all .csv files
*.csv

# Ignore folder named "NADI2024"
NADI2024/

CL*/
baseline_stage1_gpt/
stage1_gpt_balancing_loss_based/

*.png
*.pdf
*.txt

__pycache__/
